<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .register-error-p {
            color: red;
        }
    </style>
</head>
{% extends layouts/main.html %}
<body>

<h2> Register </h2>

<form action="/register" method="post">

    <input required name="username">
    <input required type="password" name="password">
    <select name="role" required>
        <option value="none" selected disabled hidden>Kies een abonnement</option>
        <option value="tier1">Tier 1</option>
        <option value="tier2">Tier 2</option>
    </select>
    <input type="submit">

</form>

{% if (isset($failMessage)) { %}
    <p class='register-error-p'> {{ $failMessage }} </p>
{% } %}

</body>
</html>