<h1>{{$crypto_type}}</h1>


<div class="box-content box-no-padding">
    <div class="table-responsive" style="width: 60%; margin: 25px;">
        <table class="table table-bordered table-dark" style="margin: 0px">
            <tr>
                <th scope="col">dag</th>
                {% foreach($prices as $price): %}
                <td>{{ $price[0] }}</td>
                {% endforeach; %}
            </tr>
            <tr>
                <th scope="col">prijs</th>
                {% foreach($prices as $price): %}

                <td>{{ $price[1] }}</td>
                {% endforeach; %}
            </tr>
        </table>
        <div class="scrollable-area">
        </div>
    </div>
</div>
