<h1>Portfolio</h1>

<form action="portfolio" method="post">

    <select>
        <option value="none" selected disabled hidden>Kies een valuta</option>
        {% foreach ($cryptos as $key => $item): %}
        <option value={{$key}}>{{$item}}</option>
        {% endforeach; %}
    </select>

    <input type="number" min="0">
    <select>
        <option value="none" selected disabled hidden>Kies een valuta</option>
        {% foreach ($cryptos as $key => $item): %}
        <option value={{$key}}>{{$item}}</option>
        {% endforeach; %}
    </select>

    <input type="submit">

</form>

<p></p>