<h1>Portfolio</h1>


<p>Currencies traden:</p>

<form action="portfolio" method="post">

    <select name="firstcurrency">
        <option value="none" selected disabled hidden>Kies een valuta</option>
        {% foreach ($owned_cryptos as $key => $item): %}
        <option value={{$item}}>{{$item}}</option>
        {% endforeach; %}
    </select>

    <input name="amount" type="number" min="0">
    <select name="secondcurrency">
        <option value="none" selected disabled hidden>Kies een valuta</option>
        {% foreach ($all_crypto as $key => $item): %}
        <option value={{$item}}>{{$item}}</option>
        {% endforeach; %}
    </select>

    <input type="submit">

</form>